{% extends "base.html" %}
{% block titulo %} Actividad dos {% endblock %}

{% block contenido %}
    <div class="card">
        <div class="card-header" style="font-weight: bold; color: #73939c; letter-spacing: .2px;">
            SEGUNDA ACTIVIDAD
        </div>
        <div class="card-body">

            <div class="row m-3 p-4 bg-light shadow-sm border border-1">
                <div class="col-12">
                    1. Diseñar un programa que pregunte al usuario:   Su nombre y luego lo salude.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 my-1">
                                    <input type="text" class="form-control" name="nombre" id="" aria-describedby="helpId"
                                        value="" placeholder="Nombre"
                                    >
                                    <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="1"
                                    >
                                </div>
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>


            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    2. Diseñar un programa que solicite dos números y luego muestre el producto.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="primer_numero" id="" aria-describedby="helpId"
                                        value="" placeholder="Primer numero"
                                    >
                                </div>
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="segundo_numero" id="" aria-describedby="helpId"
                                        value="" placeholder="Segundo numero"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="2"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>


            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    3. Diseñar un programa que calcule el perímetro y el área de un rectángulo dada su base y su altura.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="base" id="" aria-describedby="helpId"
                                        value="" placeholder="Base"
                                    >
                                </div>
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="altura" id="" aria-describedby="helpId"
                                        value="" placeholder="Altura"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="3"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>


            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    4. Diseñar un programa que calcule el perímetro y el área de un circulo dado su radio.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 my-1">
                                    <input type="number" class="form-control" name="base" id="" aria-describedby="helpId"
                                        value="" placeholder="Radio"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="4"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>

            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    5. Diseñar un programa que calcule el volumen de una esfera dado su radio.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 my-1">
                                    <input type="number" class="form-control" name="base" id="" aria-describedby="helpId"
                                        value="" placeholder="Radio"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="5"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>

            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    6. Diseñar un programa que, dado dos números, se muestre la suma, resta, división y multiplicación de ambos.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="base" id="" aria-describedby="helpId"
                                        value="" placeholder="Primer numero"
                                    >
                                </div>
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="altura" id="" aria-describedby="helpId"
                                        value="" placeholder="Segundo numero"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="6"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>

            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    7. Diseñar un programa, que dado un numero N, imprimir su factorial.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="base" id="" aria-describedby="helpId"
                                        value="" placeholder="Numero"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="7"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>

            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    8. Diseñar un programa, que permita convertir una cifra en pesos colombianos a dólares americanos, euros y bitcoins.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 my-1">
                                    <input type="number" class="form-control" name="base" id="" aria-describedby="helpId"
                                        value="" placeholder="Pesos Colombianos"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="8"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>

            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    9. Diseñar un programa que calcule el Índice de Masa Corporal(IMC) a partir de los datos del peso y la estatura de una persona.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="base" id="" aria-describedby="helpId"
                                        value="" placeholder="Peso"
                                    >
                                </div>
                                <div class="col-12 col-lg-6 my-1">
                                    <input type="number" class="form-control" name="altura" id="" aria-describedby="helpId"
                                        value="" placeholder="Estatura"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="9"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>

            <div class="row m-3 p-4 bg-light shadow-sm  border border-1">
                <div class="col-12">
                    10. Diseñar un programa que dada una temperatura en grados Celsius, la convierta a grados Fahrenheit y Kelvin.
                </div>
                <div class="col-12 py-3">
                    <form action="{% url 'punto_dos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="row">
                                <div class="col-12 my-1">
                                    <input type="number" class="form-control" name="base" id="" aria-describedby="helpId"
                                        value="" placeholder="Temperatura"
                                    >
                                </div>
                                <input type="hidden" class="form-control" name="punto" id="" aria-describedby="helpId"
                                        value="10"
                                    >
                        </div>
                        <input name="" id="" class="btn btn-success mt-3" type="submit" value="PROCESAR" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold; border-radius: 50px;">
                    </form>
                </div>
            </div>

            </div>
        </div>
    </div>
{% endblock %}