{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block titulo %} {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

  <div class="container my-2">
    <div class="row">
      <div class="col-12">
        

        <div class="row align-items-md-stretch">
          <div class="col-md-12 text-center">
              <div
                  class="h-100 p-5 text-white border rounded-3" style="background: #73939c; color: #dddad8 !important; letter-spacing: .5px;">
                  <h2 style="text-transform: uppercase;">Tienda virtual - gestion llantas</h2>
                 
              </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container my-2">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item px-1">
            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold;">INICIO</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link active" aria-current="page" href="{% url 'actividad_dos' %}" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold;">SEGUNDA ACTIVIDAD</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link active" aria-current="page" href="{% url 'actividad_tres' %}" style="background: #dddad8 !important; color: #73939c!important; font-weight: bold;">TERCERA ACTIVIDAD</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block contenido %} {% endblock %}
            </div>
        </div>
    </div>


  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>