{% extends "base.html" %}
{% block titulo %} Llantas {% endblock %}

{% block contenido %}
    <div class="card">
        <div class="card-header py-3" style="background-color: #73939c" !important;">
            <a name="" id="" class="btn" href="{% url 'crear_llanta' %}" role="button"
                style="background: #dddad8 !important; border-radius: 50px; font-weight: bold; font-size: 12px; letter-spacing: .3px;
                    color: #73939c;">
                AGREGAR NUEVA LLANTA
            </a>
        </div>
        <div class="card-body mt-3">
            
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Fabricante</th>
                            <th scope="col">Indice de Carga</th>
                            <th scope="col">Indice de Velocidad</th>
                            <th scope="col">Lonas</th>
                            <th scope="col">Ancho</th>
                            <th scope="col">Perfil</th>
                            <th scope="col">Rin</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for llanta in llantas %}
                        <tr class="">
                            <td scope="row">{{llanta.id}}</td>
                            <td>{{llanta.fabricante}}</td>
                            <td>{{llanta.indiceCarga}}</td>
                            <td>{{llanta.indiceVelocidad}}</td>
                            <td>{{llanta.lonas}}</td>
                            <td>{{llanta.ancho}}</td>
                            <td>{{llanta.perfil}}</td>
                            <td>{{llanta.rin}}</td>
                            <td>
                                <a name="" id="" class="btn btn-info" href="{% url 'editar_llanta' llanta.id %}" role="button"><i class="bi bi-pencil-square"></i></a>
                                &nbsp;
                                <a name="" id="" class="btn btn-danger" href="{% url 'borrar_llanta' llanta.id %}" role="button"><i class="bi bi-archive"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            

        </div>
    </div>
{% endblock %}